<h1>Create User</h1>
<.form let={f} for={@changeset} action={Routes.user_indieauth_path(@conn, :update)}>
  <%= if @changeset.action do %>
    <div class="allert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :uid %>
  <%= text_input f, :uid, required: true %>
  <%= error_tag f, :uid %>

  <%= hidden_input f, :domain, value: @domain %>

  <div>
    <%= submit "Create" %>
  </div>
</.form>
